extends layout

block pageCSS
    link(rel='stylesheet', href='/stylesheets/cities.css')

block content
    .main-content-wrapper
      .container
        each place in places
          .row.place-wrapper
            .col-lg-2.col-lg-offset-1.place-picture-col
              img(src=place.picture)
            .col-lg-8.place-info-col
              h2.place-name= place.name
              p= place.desc
              span.place-announcement
                | #{place.numberOfPeople} people going.
                button(type="button").btn.btn-default.place-go-btn Go tonight
          .row.line-break
            .col-xs-12