extends layout

block pageCSS
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  .main-text-wrapper
    .main-text NIGHTLIFE
    .main-subtext Experience life

  .container
    .row
      .col-xs-12.col-lg-6.col-lg-offset-3
        .search-form-wrapper
          form(action='/cities', method='GET')
            input(type='text', name='city', class="search-box", placeholder="City name...")
            input(type="submit", value="Search", class='search-submit')
  //.transition-layer
