extends layout
include _includes/__display_message
block pageCSS
    link(rel="stylesheet", href='/stylesheets/register.css')

block content
    .container
        .row
            .col-lg-4.col-lg-offset-4
                if(message)
                    +display_error(message)
                h1.main-header Login
                .form-wrapper
                    form(action="/login", method="POST")
                        input(type="text", name="username", placeholder="Username")
                        input(type="password", name="password", placeholder="Password")
                        input(type="submit", value="Login", class="submit-button")


