.main-content-wrapper {
  color: #DCE5E8;
  margin-top: 100px;
}

.place-wrapper {
  text-align: center;
  padding: 10px;
  &:hover {
    animation: glow 800ms ease-out infinite alternate;
    box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    outline: none;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1);
  }
  100% {
    box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4);
  }
}

.line-break {
  border-top: 2px solid #A6AFB3;
  margin: 35px 0 35px;
  &:nth-last-child(1) {
    border: none;
  }
}

.place-picture-col {

  img{
    width: 100%;
  }
}

.place-info-col {
}

.place-announcement {
  position: relative;
  bottom: 0;
}
.place-go-btn {
  margin-left: 20px;
}