body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-default {

  .navbar-brand, .navbar-nav {
    color: white;
    &:hover, &:focus {
      color: #5f5;
    }

    li > a {
      color: white;
      &:hover, &:focus {
        color: #5f5;
        background: #333;
      }
    }
  }
}

.navbar-default {
  width: 50%;
  margin: 20px auto;
  background: #222;
  background: linear-gradient(#333, #222);
  border: 1px solid #444;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 2px 0 #000;
}

.navbar-nav {
  margin-right: 10px;
}
